<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/estilos.css">
    <title>Portada</title>
</head>
<header>

    <nav class="barra-navegacion">

        <div class="mode">
            <input type="range" id="rango" min="0" max="1" onchange="cambiarModo()">
        </div>

        <div class="navegacion">

            <ul class="lista-nav">
                <li><a id="estilo-registrar" class="btn-general" href="registrar">Registrarse</a></li>
                <li><a class="estilo-login" href="login">Login</a></li>
            </ul>

        </div>


    </nav>

    
    <div class="logo">

        <img src="resources/img/logo-myidea.png" alt="logo">

    </div>

</header>
<body>

    

    <div class="box-description">
        <div class="box1">
            <h1>¿Que es MyIdea?</h1>
            <p>MyIdea es un sistema de registro de ideas</p>
        </div>

        <div class="box2">
            <h1>Es facil de utilizar</h1>
            <p>Registrate, inicia sesion y comienza a guardar ideas</p>

        </div>
      

    </div>
    
    
</body>
</html>